<.header>
  Listing Products
  <:actions>
    <.link patch={~p"/products/new"}>
      <.button>New Product</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="products"
  rows={@streams.products}
  row_click={fn {_id, product} -> JS.navigate(~p"/products/#{product}") end}
>
  <:col :let={{_id, product}} label="Imagen">
    <%= if product.url_image do %>
      <img src={product.url_image} class="w-10 h-10 rounded-full object-cover" alt={product.name} />
    <% else %>
      <div class="w-10 h-10 rounded-full bg-gray-200 flex items-center justify-center">
        <span class="text-gray-500 font-medium text-sm">
          {String.first(product.name) |> String.upcase()}
        </span>
      </div>
    <% end %>
  </:col>
  <:col :let={{_id, product}} label="Name">{product.name}</:col>
  <:col :let={{_id, product}} label="Proveedor">{product.provider.name}</:col>
  <:col :let={{_id, product}} label="Active">{translate_active_field(product.status)}</:col>
  <:col :let={{_id, product}} label="Stock">{product.stock}</:col>
  <:col :let={{_id, product}} label="Amount">{product.amount |> to_currency()}</:col>
  <:action :let={{_id, product}}>
    <div class="sr-only">
      <.link navigate={~p"/products/#{product}"}>Show</.link>
    </div>
    <.link patch={~p"/products/#{product}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, product}}>
    <.link
      phx-click={JS.push("delete", value: %{id: product.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.pagination path={~p"/products"} meta={%{current_offset: 0, next_offset: 0, total_count: 0, current_page: 1}} />

<.modal
  :if={@live_action in [:new, :edit]}
  id="product-modal"
  show
  on_cancel={JS.patch(~p"/products")}
>
  <.live_component
    module={ProductManagerCoreWeb.ProductLive.FormComponent}
    id={@product.id || :new}
    title={@page_title}
    action={@live_action}
    product={@product}
    patch={~p"/products"}
  />
</.modal>
